<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="foodAppEntities" connectionString="metadata=res://*/Models.foodAppDB.csdl|res://*/Models.foodAppDB.ssdl|res://*/Models.foodAppDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=129.8.26.29;initial catalog=foodApp;persist security info=True;user id=GroupB;password=chitlins;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>