<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <services>
      <service name="FoodAppService.GetRestaurant" behaviorConfiguration="RestServiceBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="FoodAppService.IGetRestaurant" behaviorConfiguration="web">
        </endpoint>
      </service>
      
      <service name="FoodAppService.GetFood" behaviorConfiguration="RestServiceBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="FoodAppService.IGetFood" behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="RestServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>